$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$backgroundColor: white;
$linkColor: rgb(193, 48, 72);
$borderColor: black;
$buttonColor: rgb(193, 48, 72);

@keyframes changeSize {
  0% {
  }
  100% {
    font-size: large;
  }
}

body {
  margin: 0;
  padding: 1rem;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // font-family: Roboto ;
}

a {
  color: $linkColor;
  text-decoration: underline;
  font-size: small;
  font-family: Roboto;
  // margin-top: 10px;
}

a:hover {
//   animation: changeSize;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
  cursor: pointer;
}

.topstories {
  width: 90%;
  height: 80vh;
  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    span {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-style: oblique;
      font-size: large;
      font-weight: 800;
      margin-top: -3rem;
    }
    &_border {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      &_line1 {
        width: 100%;
        height: 3rem;
        border-top: 1.8px solid $borderColor;
        border-left: 1.8px solid $borderColor;
      }
      &_line2 {
        width: 100%;
        height: 3rem;
        border-top: 1.8px solid $borderColor;
        border-right: 1.8px solid $borderColor;
      }
    }
  }
  &_body {
    margin-top: -3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    &_left {
      height: 100%;
      width: 25%;

      &_divider {
        border-top: 1px solid grey;
        margin-right: 1.2rem;
        margin-left: 1.2rem;
      }

      &_card {
        height: 50%;
        padding: 1rem 1rem 0 1rem;
        img {
          width: 100%;
          height: 60%;
          margin-bottom: 15px;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        p {
          font-size: 16px;
          font-family: Roboto;
          font-weight: 700;
          word-spacing: 3px;
          width: 90%;
          margin: 10px 0 10px 0;
        }
        span {
          text-transform: uppercase;
          font-size: 12px;
          color: grey;
          font-family: Roboto;
        }
      }
    }
    &_center {
      height: 100%;
      //   background-color: green;
      width: 50%;
      border-left: 1px solid grey;
      border-right: 1px solid grey;
      margin-top: 2rem;
      &_main {
        padding: 0 1rem 0 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100%;
          height: 53%;
          margin-bottom: 15px;
        }
        span {
          font-size: 2rem;
          text-align: center;
          font-family: Roboto;
          // width: 90%;
          margin-top: 5px;
        }
        &_bottomspan {
          text-transform: uppercase;
          font-size: 0.8rem;
          color: grey;
          font-family: Roboto;
        }
        p {
          width: 90%;
          text-align: center;
          font-family: Roboto;
        }
      }
    }

    &_right {
      height: 100%;
      width: 25%;
      &_top {
        height: 80%;
      }
      &_bottom {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 1rem;
        width: 100%;
        font-family: Roboto;
        span {
          font-weight: bolder;
        }
        div {
          margin-top: 0.5rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          input {
            all: unset;
            border: none;
            width: 65%;
            height: 2rem;
            border: 1px solid grey;
            padding-left: 1rem;
          }
          button {
            all: unset;
            background-color: $buttonColor;
            width: 20%;
            font-size: small;
            padding: 0.6rem;
            // margin-left: 0.3rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          button:hover {
            cursor: pointer;
          }
        }
        p {
          width: 80%;
          font-size: 10px;
          color: grey;;
          b{
            color:black;
            font-weight: 900;
          }
        }
      }

      &_divider {
        border-top: 1px solid grey;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
      }

      &_card {
        height: 30%;
        padding: 0 1rem 0 1rem;
        font-family: Roboto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          display: flex;
          padding: 0;
          flex-direction: column;
          width: 60%;
        }
        img {
          width: 40%;
          height: 75%;
          // height:5rem;
        }
        p {
          padding: 0;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0;
        }
        span {
          padding: 0;
          text-transform: uppercase;
          font-size: 10px;
          color: grey;
        }
      }
    }
  }
}

@media (max-width: $med) {
 

  .topstories {
    width: 90%;
    height: 100%;
    &_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-style: oblique;
        font-size: large;
        font-weight: 800;
        margin-top: -3rem;
      }
    }
    &_body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      &_left {
        width: 100%;
  
        &_divider {
          border-top: 1px solid grey;
          margin-right: 1.2rem;
          margin-left: 1.2rem;
        }
  
        &_card {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          
          img {
            width: 100%;
            height: 60%;
            margin-bottom: 15px;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
          p {
            font-size: 16px;
            font-family: Roboto;
            font-weight: 700;
            word-spacing: 3px;
            width: 90%;
          }
          span {
            text-transform: uppercase;
            font-size: 12px;
            color: grey;
            font-family: Roboto;
          }
        }
      }
      &_center {
        width: 100%;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        margin-top: 2rem;

        &_main {
          padding: 0 1rem 0 1rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 100%;
            height: 53%;
            margin-bottom: 15px;
          }
          span {
            font-size: 2rem;
            text-align: center;
            font-family: Roboto;
            // width: 90%;
            margin-top: 5px;
          }
          &_bottomspan {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: grey;
            font-family: Roboto;
          }
          p {
            width: 90%;
            text-align: center;
            font-family: Roboto;
          }
        }
      }
  
      &_right {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: 1px solid black;
        border-right: 1px solid black;
        &_top {
        }

        &_bottom {
          display: flex;
          flex-direction: column;
          font-family: Roboto;
          margin-top:1rem;
          span {
            font-weight: bolder;
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            input {
              all: unset;
              border: none;
              border: 1px solid grey;
              padding:0.5rem;
              width: 80%;
            }
            button {
              all: unset;
              width: 80%;
              background-color: $buttonColor;
              font-size: small;
              padding: 0.6rem;
              margin-top: 0.3rem;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            button:hover {
              cursor: pointer;
            }
          }
          p {
            width: 80%;
            font-size: 10px;
            color: grey;;
            b{
              color:black;
              font-weight: 900;
            }
          }
        }

        &_divider{
          margin-top: 1rem;
        }
  
 
        &_card {
          font-family: Roboto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          div {
            display: flex;
            padding: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          img {
            margin-top: 1rem;
            width: 100%;
            // height:5rem;
          }
          p {
            padding: 0;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0;
            text-align: center;
          }
          span {
            padding: 0;
            text-transform: uppercase;
            font-size: 10px;
            color: grey;
          }
        }
      }
    }
  }
  
}